
# BEGIN Page Speed Ninja
# Las directivas (líneas) entre «BEGIN Page Speed Ninja» y «END Page Speed Ninja» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.

# END Page Speed Ninja